.footer {
  width: 100%;
<<<<<<< HEAD
  position: absolute;
  bottom: 0px;
  left: 0px;
  margin: 2px auto;
  // background-color: white;
=======
  position: relative;
  margin-bottom: 5px;
  margin: 0px auto;
>>>>>>> 7dd8f614df9eeb46b7fdd1e20dcb9f2b389a730e
}

.footer_Items {
  display: flex;
  color: black;
}
.footer_logo {
  margin: 5px auto 5px 7px;
}

.footer_text {
  margin: 5px 7px 5px auto;
}
