.Main {
  display: flex;
  width: 100%;
  margin: 40px 2px;
  /* border-bottom: 1px solid black; */
}
.Image {
  flex: 1;
  /* background-color: red; */
  border-right: 1px solid black;
}
.Info {
  flex: 1;
}
