.TopNews {
  display: flex;
  margin-bottom: 10px;
  .Main {
    text-decoration: none;
    color: black;
    flex: 3;
    margin: 2px 10px;
    max-height: 100%;
    .ImageContainer {
      margin: 0px auto;
      width: 90%;
      .Image {
        object-fit: cover;
        margin: 0px auto;
      }
    }
    .titles {
      font-size: 25px;
      margin: 0px auto 0px 5px;
      font-family: sans-serif;
    }
    .decs {
      font-size: 15px;
      margin: 2px 5px 0px 25px;
      font-weight: 400;
      width: 80%;
      font-family: sans-serif;
    }
  }
  .BigCard {
    flex: 1s;
    border-radius: 10px;
    width: 30%;
    margin: 0px 7px 0px auto;
    height: fit-content;
    // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    .News {
      margin: 10px auto;
      padding: 10px;
      text-decoration: none;
      color: black;
    }
    .ImageContainer {
      display: flex;
      width: 80%;
      height: 150px;
      margin: 10px auto;
      .Image {
        object-fit: cover;
        margin: 0px auto;
      }
    }
    .heading {
      font-weight: 400;
      margin: 0px 20px;
    }
  }
}

.BigCard:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  transition: 0.8s;
}

@media only screen and (max-width: 1230px) {
  .BigCard {
    display: none;
  }
  .Main {
    border-right: none;
  }
  .BigCard:hover {
    box-shadow: none;
  }
}

@media only screen and (min-width: 1230px) {
  .Main {
    border-right: 2px black solid;
  }
}
