.navbar {
  display: flex;
  margin: 5px auto;
  width: 100%;
}
.logo {
  flex: 1;
  margin: auto auto auto 5px;
  font-size: 30px;
  color: brown;
  text-decoration: none;
  font-weight: 900;
}
.search {
  flex: 1;
  text-align: end;
  margin: 0px auto 0px 7px;
}
.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 1px;
  margin: 4px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: black;
}

.navmenu {
  // margin: 10px auto 80px;
  // padding: 10px 0;
  display: flex;
  // justify-content: space-between;
  align-items: center;
}

.navlink {
  font-size: 15px;
  font-weight: 100;
  text-decoration: none;
  color: black;
  margin: 0px 15px;
  // text-transform: uppercase;
}

.act {
  // color: red;
  font-weight: 700;
  // text-decoration: solid;
}

@media only screen and (max-width: 768px) {
  .navmenu {
    position: fixed;
    left: 0px;
    top: -100%;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.5s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .navmenu.active {
    top: 0;
  }

  .navlink {
    padding-top: 50px;
    color: darkmagenta;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }
  .hamburger.active .bar:nth-child(4) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(5) {
    opacity: 0;
  }
}
