.audioPlayer {
  --primary: #ffd2f8;
  --secondary: #a000c0;
  justify-content: center;
  align-items: center;
  margin: auto auto;
  display: flex;
  flex-direction: row;
  width: 80%;
  .Title {
    font-size: 40px;
    margin: 0px 0px 20% 0px;
    text-align: left;
  }
  .audio {
    flex: 1;
    margin-top: 20px;
    margin-left: 50px;
    align-items: center;
  }
  .ImageContainer {
    flex: 1;
    max-width: 400px;
    margin: 0px auto;
    .Image {
      max-width: 300px;
      object-fit: cover;
    }
  }
}
.MircoaudioPlayer {
  --primary: #ffd2f8;
  --secondary: #a000c0;
  // background-color: red;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  justify-content: center;
  align-items: center;
  margin: auto auto;
  display: flex;
  max-width: 600px;
  max-height: 700px;
  flex-direction: row;

  .ImageContainer {
    flex: 1;
    max-width: 200px;
    margin: 10px 20px;
    .Image {
      max-width: 300px;
      object-fit: cover;
    }
  }
  .Title {
    font-size: 20px;
    margin: 10px 0px 10px 20px;
    text-align: left;
  }
  .playerSlider {
    margin: 0px 20px;
    margin-bottom: 30px;
  }
  .audio {
    flex: 1;
    align-items: center;
  }
  .play_pause,
  .forward_backward {
    margin: -20px 5px;
  }
}
.MiniaudioPlayer {
  --primary: #ffd2f8;
  --secondary: #a000c0;
  // background-color: red;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  justify-content: center;
  align-items: center;
  margin: 10px;
  display: flex;
  max-width: 500px;
  max-height: 200px;
  flex-direction: row;
  // width: 20%;

  .playerSlider {
    display: flex;
    margin-left: -30px;
    justify-content: center;
    flex-direction: row;
    // width: 100%;
    align-items: center;
  }
  .Title {
    font-size: 20px;
    margin: 0px 0px 10px -20px;
    text-align: left;
  }
  .audio {
    flex: 1;
    align-items: center;
  }
  .play_pause {
    background: var(--primary);
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 17px;
    color: var(--secondary);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ImageContainer {
    flex: 1;
    max-width: 300px;
    margin: 2px 2px;
    .Image {
      margin: auto auto;
      max-width: 400px;
      object-fit: cover;
    }
  }
}

.playerBtn {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 50px 0px 20% 0px;
}

.playerSlider {
  display: flex;
  justify-content: center;
  flex-direction: row;
  // width: 100%;
  align-items: center;
}
.forward_backward {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  font-family: monospace;
  font-size: 16px;
  margin: 0px 10px;
  cursor: pointer;
}

.forward_backward:hover {
  color: var(--primary);
}

.play_pause {
  background: var(--primary);
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 17px;
  color: var(--secondary);
  display: flex;
  justify-content: center;
  align-items: center;
}

.play {
  position: relative;
  left: 2px;
}

.currentTime,
.duration {
  font-family: monospace;
  font-size: 16px;
  // flex: 1;
  margin: 0px 20px;
}

// .currentTime {
//   margin-left: 25px;
// }

.progressBar {
  --bar-bg: #b284d8;
  --seek-before-width: 0;
  --seek-before-color: #36e900;
  --knobby: #3452a5;
  --selectedKnobby: #0bc7c1;

  appearance: none;
  background: var(--bar-bg);
  border-radius: 10px;
  position: relative;
  width: 100%;
  height: 11px;
  outline: none;
}

/* progress bar - safari */
.progressBar::-webkit-slider-runnable-track {
  background: var(--bar-bg);
  border-radius: 10px;
  position: relative;
  width: 100%;
  height: 11px;
  outline: none;
}

/* progress bar - firefox */
.progressBar::-moz-range-track {
  background: var(--bar-bg);
  border-radius: 10px;
  position: relative;
  width: 100%;
  height: 11px;
  outline: none;
}

.progressBar::-moz-focus-outer {
  border: 0;
}

/* progress bar - chrome and safari */
.progressBar::before {
  content: "";
  height: 11px;
  width: var(--seek-before-width);
  background-color: var(--seek-before-color);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  cursor: pointer;
}

/* progress bar - firefox */
.progressBar::-moz-range-progress {
  background-color: var(--seek-before-color);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 11px;
}

/* knobby - chrome and safari */
.progressBar::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: none;
  background-color: var(--knobby);
  cursor: pointer;
  position: relative;
  margin: -2px 0 0 0;
  z-index: 3;
  box-sizing: border-box;
}

/* knobby while dragging - chrome and safari */
.progressBar:active::-webkit-slider-thumb {
  transform: scale(1.2);
  background: var(--selectedKnobby);
}

/* knobby - firefox */
.progressBar::-moz-range-thumb {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: transparent;
  background-color: var(--knobby);
  cursor: pointer;
  position: relative;
  z-index: 3;
  box-sizing: border-box;
}

/* knobby while dragging - firefox */
.progressBar:active::-moz-range-thumb {
  transform: scale(1.2);
  background: var(--selectedKnobby);
}
