.CardSection {
  display: flex;
  margin: 30px auto;
  display: grid;
  /* max-height: 40%; */
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
@media only screen and (max-width: 768px) {
  .CardSection {
    margin: 30px auto;
    display: grid;
    /* max-height: 50%; */
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
}
