.Table {
  border: 1px black solid;
  .tableHead {
    border: 1px black solid;
    background: rgb(227, 199, 228);
  }
  .tableBody {
    background: rgb(247, 233, 233);
  }
}


.my {
  position: relative;
  height: 450px;
  overflow: auto;
  display: block;
}

.tableCategory {
  border: 1px black solid;
  max-width: fit-content;
}

.tableName {
  border: 1px black solid;
}

.tableTitle {
  border: 1px black solid;
}

.tableDesc {
  border: 1px black solid;
}

.tableUrl {
  border: 1px black solid;
}

.tableUrltoimg {
  border: 1px black solid;
}