.title {
  font-family: Gabriola;
  .name {
    font-size: 40px;
    font-weight: 400;
    margin: -10px 0px;
    margin-left: 30px;
  }
  .btn {
    top: 30px;
    right: 50px;
    font-size: 20px;
    color: black;
    position: absolute;
  }
}
